extends layout

block content
    h1= title
    p Welcome to #{title}
    each item in data
        div
            h2= item.title
            p= item.body
            img(src='#{item.image}', alt='#{item.title}')
            p= item.date
            p= item.author
    form(method='post')
        label#title title:
        br
        input#title(type='text', name='title')
        br
        label#author author:
        br
        input#author(type='text', name='author')
        br
        label#article article:
        br
        textarea#article(name='article')
        br
        label#image image:
        br
        input#image(type='text', name='image')
        br
        button(type='submite', value='Submit') Submit
